fieldset#month-range-input {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0 5px;
  border: none;
  border-bottom: 1px solid black;
}
fieldset#month-range-input > div:first-child {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 10px;
}
fieldset#month-range-input p.error {
  color: red;
  font-size: 0.9rem;
}
fieldset#month-range-input button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0 0;
  overflow: visible;
  text-transform: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  background: transparent;
  pointer-events: all;
}
fieldset#month-range-input button:disabled {
  cursor: default;
  pointer-events: none;
}
fieldset#month-range-input button.down {
  padding: 2px 0 0;
}
fieldset#month-range-input button.up {
  padding: 0 0 2px;
}

div.button-container {
  display: flex;
  flex-flow: column;
}
input[type='month'] {
  width: 120px;
  text-align: center;
  font-size: 0.75rem;
  line-height: 30px;
  border: 1px solid gray;
  border-radius: 2px;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}
input[type='month']:first-of-type {
  margin: 0 5px 0 10px;
}
input[type='month']:last-of-type {
  margin: 0 10px 0 5px;
}
input[type='month'].invalid {
  border: 1px solid red;
}

/* medium-sized displays and larger */
@media (min-width: 640px) {
  fieldset#month-range-input {
    padding: 5px 0 10px;
    margin: 0 0 10px;
  }
}
