main#credits dl {
  margin: 0.5rem 2rem 1rem;
}
main#credits dl dd + dt {
  margin-top: 0.5rem;
}
main#credits dl dt {
  font-weight: bold;
}
main#credits dl dd {
  margin-left: 0;
  font-style: italic;
}
main#credits h2 {
  margin: 1.5rem 0 0;
}
main#credits h3 {
  margin: 0.75rem 0 0;
}
p.acknowledgements {
  font-style: italic;
}
p.acknowledgements strong {
  font-style: normal;
}
