aside#intersection-details {
  flex: 0 0 27%;
  background-color: #fff;
  overflow-y: scroll;
  font-size: 0.85rem;
  /* 
   * Take this element out of the flex 
   * flow on mobile, to avoid the issue
   * with Chrome Android's seemingly broken
   * Flex behavior
   */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 22vh;
}

.intersection-details {
  position: relative;
  padding: 8px 5px 0;
}

.intersection-details p {
  line-height: 1.33;
  margin-top: 0;
}

.intersection-details h1 {
  margin: 0;
  padding: 0 0 1em 0;
  font-weight: 500;
}

.intersection-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intersection-details li {
  padding-bottom: 1.25em;
  box-sizing: border-box;
}
.intersection-details li span {
  display: block;
}

.intersection-details li .wp-author {
  font-size: 0.9em;
  color: #406afc;
}

.intersection-details li .wp-interval {
  font-size: 0.65em;
  color: #626262;
}

.likelihood-3 {
  opacity: 1;
}

.likelihood-2 {
  opacity: 0.7;
}

.likelihood-1 {
  opacity: 0.45;
}

/* medium-sized displays and larger */
@media (min-width: 640px) {
  aside#intersection-details {
    flex: 0 0 330px;
    font-size: 1rem;

    /**
     * Restore proper flex behavior on normal displays
     */
    position: relative;
    bottom: auto;
    width: auto;
    height: auto;
  }
  .intersection-details {
    padding: 1.25em;
  }
  .intersection-details p {
    line-height: 1.6;
  }
}
