aside {
  width: 300px;
  padding: 20px 10px;
  background-color: var(--sidebar-bg);
  height: calc(100% - 64px - 40px);
}

main#map {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 320px;
}
