/*
 * on mobile, overlay the checkbox label positioned absolutely so that one can
 * click on the h2 to toggle list visibility
 */
.author-select {
  position: relative;
}
.author-select #mobile-authorselect-toggle {
  display: none;
}
.author-select label[for='mobile-authorselect-toggle'] {
  position: absolute;
  width: 50vw;
  top: -4px;
  left: 5px;
}

/* arrow label for mobile toggle checkbox */
.author-select label[for='mobile-authorselect-toggle']::before {
  content: '\25B8';
  font-size: 1.33rem;
  display: block;
}
.author-select
  #mobile-authorselect-toggle:checked
  ~ label[for='mobile-authorselect-toggle']::before {
  content: '\25BE';
}

.author-select h2 {
  font-weight: 500;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 25px;
}

.author-select button.select-all {
  outline: none;
  border: none;
  font-size: 0.7em;
  cursor: pointer;
  padding: 4px 6px 3px 6px;
}

.author-select button.select-all:focus-visible {
  border: 1px solid #000;
  border-radius: 2px;
}

.author-select ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  grid-template-columns: 1fr 1fr 1fr;
}

/* on mobile, only show the list if toggle is checked */
#mobile-authorselect-toggle:checked ~ ul {
  display: grid;
  padding-bottom: 10px;
}

/*
 * Unlike display: none, this keeps it on screen, and will keep input:focus
 * + label working
 */
.author-select li input {
  opacity: 0;
  position: absolute;
}

.author-select li label {
  display: block;
  padding: 8px 5px;
  color: rgb(147, 147, 147);
  border-radius: 2px;
  cursor: pointer;
}

.author-select li label:hover,
.author-select li input:focus-visible + label {
  background-color: rgba(147, 147, 147, 0.12);
}

.author-select li input + label {
  color: var(--dimmed-text);
}

.author-select li input:checked + label {
  color: var(--color);
  font-weight: bold;
}

.author-select li {
  padding: 0;
  cursor: pointer;
}

/* medium-sized displays and larger */
@media (min-width: 640px) {
  .author-select {
    display: block;
  }
  .author-select ul {
    font-size: 17px;
    display: block;
  }
  .author-select li input + label {
    padding: 5px;
  }
  .author-select li label {
    padding: 0 8px;
  }
  .author-select h2 {
    font-size: 1.17em;
    padding: 0 5px;
  }
  .author-select label[for='mobile-authorselect-toggle'] {
    display: none;
  }
}
