ul.author-select {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
}

ul.author-select li input {
  /** Unlike display: none, this keeps it on screen, **/
  /** and will keep input:focus + label working      **/
  opacity: 0;
  position: absolute;
}

ul.author-select li label {
  display: block;
  padding: 4px 8px;
  color: rgb(147, 147, 147);
  border-radius: 2px;
  cursor: pointer;
}

ul.author-select li label:hover,
ul.author-select li input:focus-visible + label {
  background-color: rgba(147, 147, 147, 0.12);
}

ul.author-select li input + label {
  color: #6a727c;
}

ul.author-select li input:checked + label {
  color: var(--color);
}

ul.author-select li {
  padding: 5px 0;
  cursor: pointer;
}
