:root {
  --gold: #fcb040;
  --navbar-bg: black;
  --navbar-link: white;
  --sidebar-bg: #e4f3ff;
}

#app {
  overflow: auto;
}

main:not(#map) {
  padding: 30px 30px 30px 0;
  max-width: 60ch;
  margin: 0 0 0 350px;
  line-height: 1.5;
}
/* center content layout on large displays */
@media (min-width: 1660px) {
  main:not(#map) {
    padding: 30px;
    margin: 0 auto;
  }
}
