:root {
  --gold: #fcb040;
  --navbar-bg: black;
  --navbar-link: white;
  --sidebar-bg: #f0f1f2;
  --dimmed-text: #6a727c;
}

.btn {
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 8px 20px;
  margin-bottom: 1.5rem;
  border-radius: 2px;
  font-weight: 500;
  text-decoration: none;
  color: var(--navbar-link);
  background-color: var(--navbar-bg);
}

.btn:hover,
.btn:focus,
.btn:active {
  color: var(--gold);
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#app > header {
  flex: 0 0 64px;
}

#app > section#content-wrapper {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 64px);
}
main:not(#map) {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}
main:not(#map) .flex-spacer {
  width: 0px;
  box-sizing: border-box;
}
main:not(#map) h1 {
  font-size: 2rem;
  margin-block-start: 1.5rem;
  margin-block-end: 0.5rem;
}
main:not(#map) h2 {
  font-size: 1.5rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
main:not(#map) h3 {
  font-size: 1.17rem;
}
main:not(#map) hr {
  border-style: solid;
  border-color: #525252;
  border-width: 1px 0 0 0;
  padding-bottom: 2em;
}
main:not(#map) section {
  padding-bottom: 0.25em;
}
main:not(#map) > article,
main#search > div {
  padding: 0 2rem;
  max-width: 980px;
  line-height: 1.7;
}

main:not(#map) > article p {
  padding: 0;
}
main:not(#map) > article > p,
main:not(#map) > article > section p {
  max-width: 60ch;
}
main:not(#map) > article li {
  max-width: 60ch;
}

main:not(#map) > article::after {
  content: '';
  display: block;
  padding-bottom: 1em;
}

/* medium-sized displays and larger */
@media (min-width: 640px) {
  #app > section#content-wrapper {
    flex-direction: row;
  }
  main:not(#map) .flex-spacer {
    width: 350px;
  }
  main:not(#map) > article,
  main#search > div {
    padding: 30px 30px 80px 30px;
  }
  main:not(#map) > article p {
    padding: 1.2em 0;
  }
  main:not(#map) > article::after {
    padding-bottom: 4em;
  }
  main:not(#map) h1 {
    margin-block-end: 1rem;
  }
  main:not(#map) h2 {
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
  }
  main:not(#map) section {
    padding-bottom: 1.4em;
  }
}
