:root {
  --gold: #fcb040;
  --navbar-bg: black;
  --navbar-link: white;
  --sidebar-bg: #e4f3ff;
}

#app {
  overflow: auto;
}

main:not(#map) {
  padding: 30px;
  max-width: 60ch;
  margin: 0 auto;
}
