main#home article {
  display: flex;
  flex-flow: column;
}
main#home aside {
  order: 1;
  max-width: 235ch;
  margin: 2rem 0;
}
main#home aside section.vis-info {
  margin-bottom: 2em;
}
main#home aside section.vis-info p {
  font-size: 0.85rem;
  padding: 1.2em 0 1.8em 0;
}
main#home aside h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}
main#home aside h2:first-child {
  margin-top: 0;
}
main#home aside p {
  margin: 0;
}

/* medium-sized displays and larger */
@media (min-width: 640px) {
  main#home article {
    display: block;
  }
  main#home aside {
    float: right;
    width: 30%;
    margin: 0.8rem 0 0 5rem;
  }
  main#home aside section.vis-info {
    margin-bottom: 3em;
  }
}
