main#home {
  line-height: 1.5;
}
main#home aside {
  float: right;
  width: 30%;
  max-width: 60ch;
  margin-left: 3rem;
}
main#home aside p {
  font-size: 0.9rem;
}
main#home aside h2 {
  margin-top: 0;
}
main#home aside a {
  float: right;
  font-weight: bold;
  text-decoration: none;
  color: var(--navbar-bg);
}
main#home aside a:hover {
  text-decoration: underline;
}
main#home aside a::after {
  content: ' >';
}
main#home a {
  color: var(--navbar-bg);
}
